<div class="row animated fadeIn">
    <div class="col s1"></div>
    <div class="col s8">
        <h3 style="margin-left: 10%;">Listes des projets</h3>
        <hr style="position: relative;left: 10%;opacity:0.3">
    </div>


</div>
<div  class="container animated animated" style="margin-right : 5%;">
        <div id="container">

        </div>
    <a class="waves-effect waves-light btn"  onclick="navigate('new_project');" style="margin-bottom: 10px;">Ajouter un projet<i class="material-icons right">add</i></a>
</div>



